
<center><h1>New Meet Event</h1>

<form action="/create_meet_event">
  <div>
    <p>
      <p>
    <label for="length">length</label><br />
       
    <select name="length">
      <% @lengths.each do |l|%>
      <option value="<%= l %>"><%= l %></option>
      <% end %>
    </select>
        
  </div>
  <div>
    <label for="stroke">stroke</label><br />
    <select name="stroke">
      <% @strokes.each do |s|%>
      <option value="<%= s %>"><%= s %></option>
      <% end %>
</select>
    <p>
      <p>
    <label for="lengthtype">length type</label><br />
    <select name="lengthtype">
      <% @lengthtypes.each do |lt|%>
      <option value="<%= lt %>"><%= lt %></option>
      <% end %>
    </select>
  </div>
  <div>
    <label for="meet_id">meet_id</label><br />
    <input id="meet_id" name="meet_id" type="text" />
  </div>
  <div>
    <br>
    <input type="submit">
  </div>
  </form></center>

