
<h1>Meet Event #<%= @meet_event.id %></h1>

<div>
  <strong>Length</strong>:<br />
  <p><%= @meet_event.length %></p>
</div>
<div>
  <strong>Stroke</strong>:<br />
  <p><%= @meet_event.stroke %></p>
</div>
<div>
  <strong>Length Type</strong>:<br />
  <p><%= @meet_event.lengthtype %></p>
<div>
  <strong>Meet</strong>:<br />
  <p><%= @meet_event.meet.name %></p>
</div>

<a href="/meet_events/<%= @meet_event.id %>/edit">Edit</a> |
<a href="/meet_events/<%= @meet_event.id %>/destroy">Destroy</a>
