<h1>Meet Event #<%= @meet_event.id %></h1>

<div>
  <strong>Event</strong>:<br />
  <p><%= @meet_event.length %> <%= @meet_event.stroke %> <%= @meet_event.lengthtype %></p>
</div>
<div>
  <strong>Meet</strong>:<br />
  <p><%= @meet_event.meet.name %></p>
</div>

<a href="/meet_events/<%= @meet_event.id %>/edit">Edit</a> |
<a href="/meet_events/<%= @meet_event.id %>/destroy">Destroy</a>
