<h1>All of <%= @swimmer.first_name %>'s times</h1>
<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Event</th>
      <th>Meet</th>
    </tr>
  </thead>

  <tbody>
    <% @swimmer.attendances.each do |attendance| %>
  
    <% attendance.swim_times.each do |st| %>
  <tr>
  <hr>  
  <td><%= st.time %>&nbsp &nbsp</td>
  <td><%= st.meet_event.length %> <%= st.meet_event.stroke %>&nbsp&nbsp</td>
  <td><%= st.meet_event.meet.name %></td>
    <% end %>
  <% end %>
    </tr>
  </tbody>
</table>